.steps{
    background-color: var(--light-grey);
    padding: 10px 10px 10vw 10px;
}

.heading{
    font-family: sans-serif;
    text-align: center;
    font-size: 2.5vw;
    padding: 5vw;
    color: #686D76;
    font-weight: 700;
    text-shadow: 0.1vw 0.1vw rgb(0,0,0,0.2);
}

.heading span{
    color: var(--red);
}
.imgs{
    padding: 0 3vw;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-items: center;
    align-items: center;
}

.steps img{
    height: 9vw;
    width: 9vw;
    object-fit:cover;
    border: 0.5vw solid white;
    border-radius: 50%;
    box-shadow: 2px 1px rgba(0,0,0,.1);
}