*{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: inherit;
}

:root{
  --brown:#543310;
  --red:#FF8F00;
  --grey:#686D76;
  --light-grey:#f7f7f7;
  --peach:#F8F4E1;
}

*::selection{
  background: var(--red);
  color: #fff;
}
